APP_NAME="EASD Microsite"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
EASD_DB_HOST=127.0.0.1
EASD_DB_PORT=3306
EASD_DB_DATABASE=easd_microsite
EASD_DB_USERNAME=root
EASD_DB_PASSWORD=

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
